In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [8]:
raw_data_df = pd.read_csv('ENB2012_data.csv')

raw_data_df

       X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0    0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1    0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2    0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3    0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4    0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28
..    ...    ...    ...     ...  ...  ..  ...  ..    ...    ...
763  0.64  784.0  343.0  220.50  3.5   5  0.4   5  17.88  21.40
764  0.62  808.5  367.5  220.50  3.5   2  0.4   5  16.54  16.88
765  0.62  808.5  367.5  220.50  3.5   3  0.4   5  16.44  17.11
766  0.62  808.5  367.5  220.50  3.5   4  0.4   5  16.48  16.61
767  0.62  808.5  367.5  220.50  3.5   5  0.4   5  16.64  16.03

[768 rows x 10 columns]

In [9]:
raw_data_df.shape

(768, 10)

In [10]:
raw_data_df.describe()

,X1,X2,X3,X4,X5,X6,X7,X8,Y1,Y2
count,768.000000,768.000000,768.000000,768.000000,768.00000,768.000000,768.000000,768.00000,768.000000,768.000000
mean,0.764167,671.708333,318.500000,176.604167,5.25000,3.500000,0.234375,2.81250,22.307201,24.587760
std,0.105777,88.086116,43.626481,45.165950,1.75114,1.118763,0.133221,1.55096,10.090196,9.513306
min,0.620000,514.500000,245.000000,110.250000,3.50000,2.000000,0.000000,0.00000,6.010000,10.900000
25%,0.682500,606.375000,294.000000,140.875000,3.50000,2.750000,0.100000,1.75000,12.992500,15.620000
50%,0.750000,673.750000,318.500000,183.750000,5.25000,3.500000,0.250000,3.00000,18.950000,22.080000
75%,0.830000,741.125000,343.000000,220.500000,7.00000,4.250000,0.400000,4.00000,31.667500,33.132500
max,0.980000,808.500000,416.500000,220.500000,7.00000,5.000000,0.400000,5.00000,43.100000,48.030000

In [17]:
# Will like to rename the column name from x1 to x8 to be more descriptive

# Setting a variable to store the new names in pair with old names all in a dictionary

new_column_names = {'X1':'Relative_Compactness',
                    'X2':'Surface_Area',
                    'X3':'Wall_Area',
                    'X4':'Roof_Area',
                    'X5':'Overall_Height',
                    'X6':'Orientation',
                    'X7':'Glazing_Area',
                    'X8':'Glazing_Area_Distribution',
                    'Y1':'Heating_Load',
                    'Y2':'Cooling_Load',
                   }

new_column_names

{'X1': 'Relative_Compactness',
 'X2': 'Surface_Area',
 'X3': 'Wall_Area',
 'X4': 'Roof_Area',
 'X5': 'Overall_Height',
 'X6': 'Orientation',
 'X7': 'Glazing_Area',
 'X8': 'Glazing_Area_Distribution',
 'Y1': 'Heating_Load',
 'Y2': 'Cooling_Load'}

In [22]:
# Now let me rename the column in the raw_data_df dataframe with the value of the key as in this dictionary to the dataframe dataset

new_data_df = raw_data_df.rename(columns = new_column_names)

new_data_df #Echoed it to confrim it's done

,Relative_Compactness,Surface_Area,Wall_Area,Roof_Area,Overall_Height,Orientation,Glazing_Area,Glazing_Area_Distribution,Heating_Load,Cooling_Load
0,0.98,514.5,294.0,110.25,7.0,2,0.0,0,15.55,21.33
1,0.98,514.5,294.0,110.25,7.0,3,0.0,0,15.55,21.33
2,0.98,514.5,294.0,110.25,7.0,4,0.0,0,15.55,21.33
3,0.98,514.5,294.0,110.25,7.0,5,0.0,0,15.55,21.33
4,0.90,563.5,318.5,122.50,7.0,2,0.0,0,20.84,28.28
...,...,...,...,...,...,...,...,...,...,...
763,0.64,784.0,343.0,220.50,3.5,5,0.4,5,17.88,21.40
764,0.62,808.5,367.5,220.50,3.5,2,0.4,5,16.54,16.88
765,0.62,808.5,367.5,220.50,3.5,3,0.4,5,16.44,17.11
766,0.62,808.5,367.5,220.50,3.5,4,0.4,5,16.48,16.61
767,0.62,808.5,367.5,220.50,3.5,5,0.4,5,16.64,16.03

In [23]:
# Echoing the dataset describe just top confrim if it has changes successfully
new_data_df.describe

<bound method NDFrame.describe of      Relative_Compactness  Surface_Area  Wall_Area  Roof_Area  Overall_Height  \
0                    0.98         514.5      294.0     110.25             7.0
1                    0.98         514.5      294.0     110.25             7.0
2                    0.98         514.5      294.0     110.25             7.0
3                    0.98         514.5      294.0     110.25             7.0
4                    0.90         563.5      318.5     122.50             7.0
..                    ...           ...        ...        ...             ...
763                  0.64         784.0      343.0     220.50             3.5
764                  0.62         808.5      367.5     220.50             3.5
765                  0.62         808.5      367.5     220.50             3.5
766                  0.62         808.5      367.5     220.50             3.5
767                  0.62         808.5      367.5     220.50             3.5

     Orientation  Glazing_Area  Glazing_Area_Distribution  Heating_Load  \
0              2           0.0                          0         15.55
1              3           0.0                          0         15.55
2              4           0.0                          0         15.55
3              5           0.0                          0         15.55
4              2           0.0                          0         20.84
..           ...           ...                        ...           ...
763            5           0.4                          5         17.88
764            2           0.4                          5         16.54
765            3           0.4                          5         16.44
766            4           0.4                          5         16.48
767            5           0.4                          5         16.64

     Cooling_Load
0           21.33
1           21.33
2           21.33
3           21.33
4           28.28
..            ...
763         21.40
764         16.88
765         17.11
766         16.61
767         16.03

[768 rows x 10 columns]>