In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
raw_data = pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')

raw_data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [5]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [13]:
raw_data.head(11).T

,0,1,2,3,4,5,6,7,8,9,10
customerID,7590-VHVEG,5575-GNVDE,3668-QPYBK,7795-CFOCW,9237-HQITU,9305-CDSKC,1452-KIOVK,6713-OKOMC,7892-POOKP,6388-TABGU,9763-GRSKD
gender,Female,Male,Male,Male,Female,Female,Male,Female,Female,Male,Male
SeniorCitizen,0,0,0,0,0,0,0,0,0,0,0
Partner,Yes,No,No,No,No,No,No,No,Yes,No,Yes
Dependents,No,No,No,No,No,No,Yes,No,No,Yes,Yes
tenure,1,34,2,45,2,8,22,10,28,62,13
PhoneService,No,Yes,Yes,No,Yes,Yes,Yes,No,Yes,Yes,Yes
MultipleLines,No phone service,No,No,No phone service,No,Yes,Yes,No phone service,Yes,No,No
InternetService,DSL,DSL,DSL,DSL,Fiber optic,Fiber optic,Fiber optic,DSL,Fiber optic,DSL,DSL
OnlineSecurity,No,Yes,Yes,Yes,No,No,No,Yes,No,Yes,Yes
OnlineBackup,Yes,No,Yes,No,No,No,Yes,No,No,Yes,No
DeviceProtection,No,Yes,No,Yes,No,Yes,No,No,Yes,No,No
TechSupport,No,No,No,Yes,No,No,No,No,Yes,No,No
StreamingTV,No,No,No,No,No,Yes,Yes,No,Yes,No,No
StreamingMovies,No,No,No,No,No,Yes,No,No,Yes,No,No
Contract,Month-to-month,One year,Month-to-month,One year,Month-to-month,Month-to-month,Month-to-month,Month-to-month,Month-to-month,One year,Month-to-month
PaperlessBilling,Yes,No,Yes,No,Yes,Yes,Yes,No,Yes,No,Yes
PaymentMethod,Electronic check,Mailed check,Mailed check,Bank transfer (automatic),Electronic check,Electronic check,Credit card (automatic),Mailed check,Electronic check,Bank transfer (automatic),Mailed check
MonthlyCharges,29.85,56.95,53.85,42.3,70.7,99.65,89.1,29.75,104.8,56.15,49.95
TotalCharges,29.85,1889.5,108.15,1840.75,151.65,820.5,1949.4,301.9,3046.05,3487.95,587.45
Churn,No,No,Yes,No,Yes,Yes,No,No,Yes,No,No

In [9]:
raw_data.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [12]:
raw_data.shape

(7043, 21)

In [16]:
data = raw_data.copy()

data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [26]:
gender_unique_values = data['gender'].unique()
print(gender_unique_values)

['Female' 'Male']

In [27]:
partner_unique_values = data['Partner'].unique()
print(partner_unique_values)

['Yes' 'No']

In [30]:
dependents_unique_values = data['Dependents'].unique()
print(dependents_unique_values)

['No' 'Yes']

In [40]:
data.drop(['customerID'], axis=1, inplace=True)

In [41]:
data.head(3)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

In [49]:
data.isnull().sum()

#GOod, now empty cell, impressive dataset !!!

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [50]:
def data_quick_view():
    for column in data.columns:
        unique_values = data[column].unique()
        print(f'Unique values in column "{column}": {len(unique_values)}    They are {unique_values}')
        value_counts = data[column].value_counts()
        print(f'Value counts for column "{column}"\n{value_counts}\n\n')
data_quick_view()

Unique values in column "gender": 2    They are ['Female' 'Male']
Value counts for column "gender"
gender
Male      3555
Female    3488
Name: count, dtype: int64


Unique values in column "SeniorCitizen": 2    They are [0 1]
Value counts for column "SeniorCitizen"
SeniorCitizen
0    5901
1    1142
Name: count, dtype: int64


Unique values in column "Partner": 2    They are ['Yes' 'No']
Value counts for column "Partner"
Partner
No     3641
Yes    3402
Name: count, dtype: int64


Unique values in column "Dependents": 2    They are ['No' 'Yes']
Value counts for column "Dependents"
Dependents
No     4933
Yes    2110
Name: count, dtype: int64


Unique values in column "tenure": 73    They are [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]
Value counts for column "tenure"
tenure
1     613
72    362
2     238
3     200
4     176
     ...
28     57
39     56
44     51
36     50
0      11
Name: count, Length: 73, dtype: int64


Unique values in column "PhoneService": 2    They are ['No' 'Yes']
Value counts for column "PhoneService"
PhoneService
Yes    6361
No      682
Name: count, dtype: int64


Unique values in column "MultipleLines": 3    They are ['No phone service' 'No' 'Yes']
Value counts for column "MultipleLines"
MultipleLines
No                  3390
Yes                 2971
No phone service     682
Name: count, dtype: int64


Unique values in column "InternetService": 3    They are ['DSL' 'Fiber optic' 'No']
Value counts for column "InternetService"
InternetService
Fiber optic    3096
DSL            2421
No             1526
Name: count, dtype: int64


Unique values in column "OnlineSecurity": 3    They are ['No' 'Yes' 'No internet service']
Value counts for column "OnlineSecurity"
OnlineSecurity
No                     3498
Yes                    2019
No internet service    1526
Name: count, dtype: int64


Unique values in column "OnlineBackup": 3    They are ['Yes' 'No' 'No internet service']
Value counts for column "OnlineBackup"
OnlineBackup
No                     3088
Yes                    2429
No internet service    1526
Name: count, dtype: int64


Unique values in column "DeviceProtection": 3    They are ['No' 'Yes' 'No internet service']
Value counts for column "DeviceProtection"
DeviceProtection
No                     3095
Yes                    2422
No internet service    1526
Name: count, dtype: int64


Unique values in column "TechSupport": 3    They are ['No' 'Yes' 'No internet service']
Value counts for column "TechSupport"
TechSupport
No                     3473
Yes                    2044
No internet service    1526
Name: count, dtype: int64


Unique values in column "StreamingTV": 3    They are ['No' 'Yes' 'No internet service']
Value counts for column "StreamingTV"
StreamingTV
No                     2810
Yes                    2707
No internet service    1526
Name: count, dtype: int64


Unique values in column "StreamingMovies": 3    They are ['No' 'Yes' 'No internet service']
Value counts for column "StreamingMovies"
StreamingMovies
No                     2785
Yes                    2732
No internet service    1526
Name: count, dtype: int64


Unique values in column "Contract": 3    They are ['Month-to-month' 'One year' 'Two year']
Value counts for column "Contract"
Contract
Month-to-month    3875
Two year          1695
One year          1473
Name: count, dtype: int64


Unique values in column "PaperlessBilling": 2    They are ['Yes' 'No']
Value counts for column "PaperlessBilling"
PaperlessBilling
Yes    4171
No     2872
Name: count, dtype: int64


Unique values in column "PaymentMethod": 4    They are ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Value counts for column "PaymentMethod"
PaymentMethod
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: count, dtype: int64


Unique values in column "MonthlyCharges": 1585    They are [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
Value counts for column "MonthlyCharges"
MonthlyCharges
20.05     61
19.85     45
19.95     44
19.90     44
20.00     43
          ..
23.65      1
114.70     1
43.65      1
87.80      1
78.70      1
Name: count, Length: 1585, dtype: int64


Unique values in column "TotalCharges": 6531    They are ['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5']
Value counts for column "TotalCharges"
TotalCharges
          11
20.2      11
19.75      9
20.05      8
19.9       8
          ..
6849.4     1
692.35     1
130.15     1
3211.9     1
6844.5     1
Name: count, Length: 6531, dtype: int64


Unique values in column "Churn": 2    They are ['No' 'Yes']
Value counts for column "Churn"
Churn
No     5174
Yes    1869
Name: count, dtype: int64

In [51]:
data['TotalCharges'] = data['TotalCharges'].replace(' ', np.nan, regex=True)
data['TotalCharges'] = pd.to_numeric(data['TotalCharges'])

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7032 non-null   float64
 19  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 1.1+ MB

In [90]:
# Lets start  encoding the column label manually, manually because they are all x parameter except from Church value according to the dataset problem statement

gender_map = {'Male': 1, 'Female': 0}
data['gender'] = data['gender'].replace(gender_map)

In [91]:
partner_map = {'Yes': 1, 'No': 0}
data['Partner'] = data['Partner'].replace(partner_map)

In [92]:
dependent_map = {'Yes': 1, 'No': 0} #Dependent being 1 means More Chance of continious patronage and should consider keeping.
data['Dependents'] = data['Dependents'].replace(dependent_map)

In [93]:
phoneservice_map = {'Yes': 1, 'No': 0} #CLient that signed up for Phone Service
data['PhoneService'] = data['PhoneService'].replace(phoneservice_map)

In [94]:
multipleline_map = {'Yes': 1, 'No': 0, 'No phone service' : 0} #No and No Phone Service turned to 0
data['MultipleLines'] = data['MultipleLines'].replace(multipleline_map)

In [95]:
internet_map = {'DSL': 1, 'Fiber optic': 1, 'No': 0} #DSL, Fiber optic are positive move
data['InternetService'] = data['InternetService'].replace(internet_map)

In [96]:
yes_no_map = {'Yes': 1, 'No': 0, 'No internet service' : 0} #CLient that signed up for Phone Service
data['OnlineSecurity'] = data['OnlineSecurity'].replace(yes_no_map)
data['OnlineBackup'] = data['OnlineBackup'].replace(yes_no_map)
data['DeviceProtection'] = data['DeviceProtection'].replace(yes_no_map)
data['TechSupport'] = data['TechSupport'].replace(yes_no_map)
data['StreamingTV'] = data['StreamingTV'].replace(yes_no_map)
data['StreamingMovies'] = data['StreamingMovies'].replace(yes_no_map)
data['PaperlessBilling'] = data['PaperlessBilling'].replace(yes_no_map)

In [97]:
churn_map = {'Yes': 1, 'No': 0}
data['Churn'] = data['Churn'].replace(churn_map)

In [98]:
contract_map = {'Month-to-month': 1, 'One year': 2, 'Two year' : 3}
data['Contract'] = data['Contract'].replace(contract_map)

In [99]:
payment_method_map = {'Electronic check': 1,'Mailed check': 2, 'Bank transfer (automatic)': 3, 'Credit card (automatic)' : 4}
data['PaymentMethod'] = data['PaymentMethod'].replace(payment_method_map)

In [100]:
data.head(3)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,1,1,1,0,0,1,0,1,0,0,0,0,1,1,1,29.85,29.85,0
1,1,0,0,1,34,1,0,1,1,0,1,0,0,0,2,0,2,56.95,1889.50,0
2,1,0,0,1,2,1,0,1,1,1,0,0,0,0,1,1,2,53.85,108.15,1

In [101]:
data_quick_view()

Unique values in column "gender": 2    They are [0 1]
Value counts for column "gender"
gender
1    3555
0    3488
Name: count, dtype: int64


Unique values in column "SeniorCitizen": 2    They are [0 1]
Value counts for column "SeniorCitizen"
SeniorCitizen
0    5901
1    1142
Name: count, dtype: int64


Unique values in column "Partner": 2    They are [1 0]
Value counts for column "Partner"
Partner
0    3641
1    3402
Name: count, dtype: int64


Unique values in column "Dependents": 2    They are [1 0]
Value counts for column "Dependents"
Dependents
1    4933
0    2110
Name: count, dtype: int64


Unique values in column "tenure": 73    They are [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]
Value counts for column "tenure"
tenure
1     613
72    362
2     238
3     200
4     176
     ...
28     57
39     56
44     51
36     50
0      11
Name: count, Length: 73, dtype: int64


Unique values in column "PhoneService": 2    They are [0 1]
Value counts for column "PhoneService"
PhoneService
1    6361
0     682
Name: count, dtype: int64


Unique values in column "MultipleLines": 2    They are [0 1]
Value counts for column "MultipleLines"
MultipleLines
0    4072
1    2971
Name: count, dtype: int64


Unique values in column "InternetService": 2    They are [1 0]
Value counts for column "InternetService"
InternetService
1    5517
0    1526
Name: count, dtype: int64


Unique values in column "OnlineSecurity": 2    They are [0 1]
Value counts for column "OnlineSecurity"
OnlineSecurity
0    5024
1    2019
Name: count, dtype: int64


Unique values in column "OnlineBackup": 2    They are [1 0]
Value counts for column "OnlineBackup"
OnlineBackup
0    4614
1    2429
Name: count, dtype: int64


Unique values in column "DeviceProtection": 2    They are [0 1]
Value counts for column "DeviceProtection"
DeviceProtection
0    4621
1    2422
Name: count, dtype: int64


Unique values in column "TechSupport": 2    They are [0 1]
Value counts for column "TechSupport"
TechSupport
0    4999
1    2044
Name: count, dtype: int64


Unique values in column "StreamingTV": 2    They are [0 1]
Value counts for column "StreamingTV"
StreamingTV
0    4336
1    2707
Name: count, dtype: int64


Unique values in column "StreamingMovies": 2    They are [0 1]
Value counts for column "StreamingMovies"
StreamingMovies
0    4311
1    2732
Name: count, dtype: int64


Unique values in column "Contract": 3    They are [1 2 3]
Value counts for column "Contract"
Contract
1    3875
3    1695
2    1473
Name: count, dtype: int64


Unique values in column "PaperlessBilling": 2    They are [1 0]
Value counts for column "PaperlessBilling"
PaperlessBilling
1    4171
0    2872
Name: count, dtype: int64


Unique values in column "PaymentMethod": 4    They are [1 2 3 4]
Value counts for column "PaymentMethod"
PaymentMethod
1    2365
2    1612
3    1544
4    1522
Name: count, dtype: int64


Unique values in column "MonthlyCharges": 1585    They are [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
Value counts for column "MonthlyCharges"
MonthlyCharges
20.05     61
19.85     45
19.95     44
19.90     44
20.00     43
          ..
23.65      1
114.70     1
43.65      1
87.80      1
78.70      1
Name: count, Length: 1585, dtype: int64


Unique values in column "TotalCharges": 6531    They are [  29.85 1889.5   108.15 ...  346.45  306.6  6844.5 ]
Value counts for column "TotalCharges"
TotalCharges
20.20      11
19.75       9
20.05       8
19.90       8
19.65       8
           ..
6849.40     1
692.35      1
130.15      1
3211.90     1
6844.50     1
Name: count, Length: 6530, dtype: int64


Unique values in column "Churn": 2    They are [0 1]
Value counts for column "Churn"
Churn
0    5174
1    1869
Name: count, dtype: int64

In [102]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   int64
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   int64
 3   Dependents        7043 non-null   int64
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   int64
 6   MultipleLines     7043 non-null   int64
 7   InternetService   7043 non-null   int64
 8   OnlineSecurity    7043 non-null   int64
 9   OnlineBackup      7043 non-null   int64
 10  DeviceProtection  7043 non-null   int64
 11  TechSupport       7043 non-null   int64
 12  StreamingTV       7043 non-null   int64
 13  StreamingMovies   7043 non-null   int64
 14  Contract          7043 non-null   int64
 15  PaperlessBilling  7043 non-null   int64
 16  PaymentMethod     7043 non-null   int64
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7032 non-null   float64
 19  Churn             7043 non-null   int64
dtypes: float64(2), int64(18)
memory usage: 1.1 MB

In [ ]:
categorical = ['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'InternetService','OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies','Contract', 'PaperlessBilling', 'PaymentMethod']